
@import "reset.css";
@import "variables.css";

@import "components/status-bar.css";
@import "components/nav-bar.css";
@import "components/screen-header.css";
@import "components/user-component.css";
@import "components/badge.css";
@import "components/icon-row.css";
@import "components/alt-screen-header.css";
@import "components/no-mobile.css";

@import "screens/login.css";
@import "screens/friends.css";
@import "screens/find.css";
@import "screens/more.css";
@import "screens/settings.css";
@import "screens/chat.css";

body {
    color: #2e363e;
    font-family: "Open Sans", sans-serif;
    margin:0;
}

.main-screen {
    padding: 0px var(--horizontal-space);
}

header{
    position: fixed;
    background-color: rgba(90, 100, 255, 0.7);
    color: azure;
    font-weight: 700;
    width: 100%;
    padding:20px;
}